.product {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
  margin-right: 0.5rem;
  gap: 0.5rem;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 1.125em;
  font-weight: bolder;
}

.price {
  font-weight: 0.9em;
  text-align: right;
}

.content {
  font-weight: 300;
  font-size: 0.8em;
}

.row {
  display: flex;
  justify-content: space-between;
}
