.navbar {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem 0;
  overflow: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.navbar::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
  height: 0;
  display: none;  /* Safari and Chrome */
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.navbar a {
    padding: .5rem;
}
